.details {
    background: rgba(16, 14, 29, 1);
    height:100%;
    display: grid;
    place-items: center;
}
.summary{
    padding: 3.25rem 3.375rem;
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 2.5rem;
}
.summary_card {
    background: rgba(30, 33, 58, 1);
    width: 7.5rem;
    height: 11.0625rem;
    display: grid;
    place-items: center;
}
.summary_card h2 {
    font-weight: 500;
    font-size: 16px;
    color: white;;
}
.summary_card img {
    width: 56.44px;
    height: 62px;
}
.summary_card--temp span:nth-child(1) {
    color: rgba(231, 231, 235, 1);
}
.summary_card--temp span:nth-child(2) {
    color: rgba(160, 159, 177, 1);
}

.highlights {
    display: grid;
    color: rgba(231, 231, 235, 1);

}
.highlights>h1>span {
    display: none;
}
.highlight_card {
    background: rgba(30, 33, 58, 1);
    width: 20.5rem;
    padding: 1.375rem;
    margin-top: 2rem;
    margin-bottom: 3rem;;
    display: grid;
}
.highlight_card h2 {
    font-weight: 500;
    font-size: 16px;
}
.value {
    font-size: 4rem;
    font-weight: 700;
}
.extra {
    margin-top: 1.9375rem;
    font-weight: 500;
    font-size: 14px;
}


@media screen and (min-width: 1024px) {
    
    .details {
        width: 75vw;
    
        height: 100vh;
    }
    .summary{
        display: flex;
        position: relative;
        bottom: 2rem;;
    }
    .highlights {
        position: relative;
        bottom: 3.5rem;;
    }
    .highlights h1{
        text-align: left;
        font-size: 1.2rem;;
        margin-bottom: 1rem;
    }
    .highlights>h1>span {
        display: inline;
    }
    .highlight {
        display: grid;
        grid-template-columns:1fr  1fr 1fr;
        column-gap:3rem;
        row-gap:1.5rem;
    }

    .highlight_card {
        background: rgba(30, 33, 58, 1);
        width: 17rem;
    }
    .summary_card {
        width: 10w;
        height: 12vw;
    }
    .highlight_card {
        width:15vw;
        height:9vw;
        margin-top:0rem;
        margin-bottom: 0rem;;

    }
    .value {
        font-size: 3rem;;
    }
 }